node_modules/
# Ignore artifacts:
build/

vite-env.d.ts
vite.config.ts
jest.config.js
.DS_Store
.idea
.editorconfig
package-lock.json

*.log
*.md
*.svg
*.png
*ignore

site/public
.vscode
.husky
.dockerignore
node_modules
default.conf
Dockerfile

.cache
dist
package-lock.json
